body{
	padding:0;
	margin:0;
	top:0;
	background:#ddd;
}
iframe{
	border:0;
}
img{
	border:0;
}
#content{
	margin:auto;
	width:800px;
}
#artical{
	width:800px;
	border:solid 2px #fa8000;
	background:#fff;
	margin:20px;
	padding:5px;
}
#localNote{
	margin:auto;
	background:#ff9291;
	width:650px;
	padding:7px;
}
#localNote div{
	background:#fff;
	color:#000;
	margin:5px;
	padding:3px;
	position:relative;
}
#localNote div img{
	display:none;
	position:absolute;
	top:0;
	right:0;
}
#localNote div:hover img{
	display:block;
}
#localNote div span{
	color:#fa0300;
}
#globalNote{
	margin:auto;
	background:#afc6ff;
	width:650px;
	padding:7px;
}
#globalNote div{
	background:#fff;
	color:#000;
	margin:5px;
	padding:3px;
	position:relative;
}
#globalNote div img{
	display:none;
	position:absolute;
	top:0;
	right:0;
}
#globalNote div:hover img{
	display:block;
}
#globalNote div span{
	color:#fa0300;
}
#selectNotice{
	margin:20px auto;
	display:none;
	padding:10px;
	color:#f00;
	background:#fdff37;
	width:650px;
}
#mask{
	position:absolute;
	z-index:2;
	width:400px;
	border:solid 2px #ff1c19;
	background:#fff;
	overflow-x:hidden;
	overflow-y:visible;
	display:none;
}
#mask #input{
	margin:auto;
	padding:10px;
	vertical-align:center;
	width:380px;
}
#mask #selectContentsBox{
	border:solid 2px #afc6dd;
}
#mask #comment{
	margin:auto;
	width:350px;
	height:150px;
	max-width:350px;
	max-height:150px;
}
#mask #local_button{
	background:#dc0300;
	border:1px solid #dc0300;
	color:#fff;
}
#mask #global_button{
	background:#178918;
	border:1px solid #178918;
	color:#fff;
}
.global{
	color:#178918;
	font-weight:bold;
}
.local{
	color:#dc0300;
	font-weight:bold;
}
#submit{
	margin:auto;
	display:block;
}
	#submit textarea{
		margin:auto;
		display:block;
		width:650px;
		height:300px;
	}
	#submit input{
		margin:auto;
		display:block;
	}
