body{
	padding:0;
	margin:0;
	top:0;
	background:#ddd;
}
iframe{
	border:0;
}
img{
	border:0;
}
#main{
	margin:auto;
	width:800px;
}
#artical{
	width:800px;
	border:solid 2px #fa8000;
	background:#fff;
	margin:20px;
	padding:5px;
}
#note{
	margin:auto;
	background:#afc6ff;
	width:650px;
	padding:7px;
}
#note div{
	background:#fff;
	color:#000;
	margin:5px;
	padding:3px;
	position:relative;
}
#note div img{
	display:none;
	position:absolute;
	top:0;
	right:0;
}
#note div:hover img{
	display:block;
}
#note div span{
	color:#fa0300;
}
#selectNotice{
	margin:20px auto;
	display:none;
	padding:10px;
	color:#f00;
	background:#fdff37;
	width:650px;
}
#mask{
	position:absolute;
	z-index:2;
	width:400px;
	border:solid 2px #ff1c19;
	background:#fff;
	overflow-x:hidden;
	overflow-y:visible;
	display:none;
}
#mask #input{
	margin:auto;
	padding:10px;
	vertical-align:center;
	width:380px;
}
#mask #selectContentsBox{
	border:solid 2px #afc6dd;
}
#mask #comment{
	margin:auto;
	width:350px;
	height:150px;
	max-width:350px;
	max-height:150px;
}
.marked{
	color:#178918;
	font-weight:bold;
}
#submit{
	margin:auto;
	display:block;
}
	#submit textarea{
		margin:auto;
		display:block;
		width:650px;
		height:300px;
	}
	#submit input{
		margin:auto;
		display:block;
	}
/*
 * artical.php
 */
.artical{
	background:#007afa;
	border:solid 2px #fff;
	width:800px;
	margin:20px;
	padding:5px;
}
	.artical .paragraph{
		background:#fff;
	}
	.artical .comment{
		background:#fff;
	}

